.backButton {
  color: var(--c-accent);
  font-size: var(--fs-300);
  padding: 0.5rem 0;
}

.heading {
  line-height: 1.1;
}

.subHeading {
  font-size: var(--fs-500);
  font-weight: 500;
}

.image {
  align-self: center;
  margin: 2rem 0;
  object-fit: contain;
}

.copy {
  margin-bottom: 2rem;
}

.copy:first-of-type {
  margin-top: 2rem;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.labelList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
