.header {
  padding: 0 2rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title span {
  font-family: "Zilla Slab";
  font-weight: 700;
  font-size: 2rem;
  margin-left: 1rem;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.navItem {
  margin-left: 1rem;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.navItem:hover {
  border-bottom-color: currentColor;
}
