.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-color: var(--c-grey);
  padding: 1rem;
  border-radius: 3px;
}

.container:hover {
  background-color: var(--c-accent-light);
  border-color: var(--c-accent);
}

.name {
  margin-bottom: 2rem;
  color: var(--c-accent);
  text-align: center;
  min-height: 3em;
}

.image {
  object-fit: contain;
  object-position: center;
}

.summary {
  flex: 1;
  text-align: center;
  margin: 2rem 0;
}

.bottomRow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.type,
.tech {
  font-size: var(--fs-300);
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid var(--c-accent);
  color: var(--c-accent);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}
