.label {
  border-radius: 3px;
  border: 2px solid var(--c-accent);
  color: var(--c-accent);
  font-family: var(--ff-copy);
  font-size: var(--fs-300);
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}
